@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --bg:rgba(255, 255, 255, 1);
    --main: rgba(20,121,255,1);
    --mainPressed:rgba(164,192,228,1);
    --font: rgba(26,59,104,1);
    --fontAccess:rgbs(20,165,255,0.3);
    --buttonFont:rgba(254,254,254,0.837);
    --font1: 'Poppins';
    --font-weight1: 600; /* Semi-Bold */
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: var(--font1);
    font-weight: var(--font-weight1);
}

button:focus{
    outline:none;
}

button {
    width: 23%;
    height: 100px;
    border:0;
    border-radius:30px;
    font-family: var(--font1);
    font-weight: var(--font-weight1);
    font-size: 20px;
    margin:5px;
    box-shadow:5px 7px 15px -1px rgba(0,0,0,0.22);
}

.heading {
    text-align: center;
    font-size: 50px;
}

.info {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.controls {
    margin:auto;
    width: 50em;
    transform: translate(0, 15%)
}


.test{
    background-color:var(--main);
    color:var(--buttonFont);  
}

.test:active{
    background-color:var(--mainPressed);
    color:black
}

.testActive {
    background-color:rgb(116, 170, 237);
    color: black;
}
